.DS_Store

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
/.idea/*

# IDEA/Android Studio Ignore exceptions
!/.idea/vcs.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyles/
!/.idea/.name
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml

.packages
packages

.atom/
.pub/
pubspec.lock

build/

ios/.generated/
.flutter-plugins

## iOS Specific

## Build generated
build/
DerivedData
build.xcarchive

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

# CocoaPods
Pods/

ios/Runner/GoogleService-Info.plist
